<div class="content">
  <div class=" row">
    <div class="card">
      <div mat-dialog-title class=" card-header">
        <h3 class="card-title">Employee Details</h3>
      </div>
      <div class="card-body">
        <table *ngIf="data" class="table">
          <thead>
            <tr>
              <th>Employee Name</th>
              <th>HR Code</th>
              <th>Department</th>
              <th>Branch</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input matInput [(ngModel)]="data.name"></td>
              <td><input matInput [(ngModel)]="data.HrCode"></td>
              <td>
                <select *ngIf="departments" [(ngModel)]="data.deptId">
                  <option *ngFor="let department of departments" [ngValue]="department.id">
                    {{department.name}}
                  </option>
                </select>
              </td>
              <td>
                <select *ngIf="branches" [(ngModel)]="data.branchId">
                  <option *ngFor="let branch of branches" [ngValue]="branch.id">
                    {{branch.name}}
                  </option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
        <div mat-dialog-actions>
          <button mat-button type="button" class="btn btn-danger" (click)="onNoClick()">Cancel</button>
          <button mat-button type="button" class="btn btn-info" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
