<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-6">
        <input matInput (keyup)="applyFilterRatePlan($event.target.value)" placeholder="Rate Plan Filter">
      </div>
      <div class="col-4">
        <button class="btn btn-primary animation-on-hover" (click)="addRatePlan()">
          <i class="tim-icons icon-simple-add"></i>
            Add Rate Plan
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <table class="table" mat-table *ngIf="ratePlans" [dataSource]="dataSource">
        <!-- Index Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> # </th>
          <td mat-cell *matCellDef="let row; let i = index"> {{i+1}} </td>
        </ng-container>
        <!-- Acconut No. Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Rate Plan </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
         <!-- Actions Column -->
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td class="td-actions" mat-cell *matCellDef="let row">
            <button type="button" rel="tooltip" class="btn btn-success btn-sm btn-icon" (click)="editRatePlan(row)">
              <i class="tim-icons icon-settings"></i>
            </button>
            <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-icon" (click)="deleteRatePlan(row)">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
          </td>
        </ng-container><tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
</div>
